- @categories.each do |category|
  %article.video_category
    %header
      %h3= link_to "#{category.name}", category_path(category)
    .videos.row
      - 6.times do |n|
        .video.col-sm-2
          = link_to category.videos[n], nil do
            %img(src="#{category.videos[n].small_cover_url}")